/* Alfa Slab One */
@font-face {
    font-family: "Alfa Slab One";
    src: url('fonts/Alfa Slab One/Alfa Slab One Regular.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

/* Ohanlon Block */
@font-face {
    font-family: "Ohanlon Block";
    src: url('fonts/Ohanlon Block/Ohanlon Block.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

/* Ohanlon Block Italic */
@font-face {
    font-family: "Ohanlon Block Italic";
    src: url('fonts/Ohanlon Block/Ohanlon Block Italic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}
/* Overgreed */
@font-face {
    font-family: "Overgreed";
    src: url('fonts/Overgreed/Overgreed.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

body {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
    height: 100%;
    margin: 0;
    background-color: #1f2338;
    font-family: 'Montserrat', sans-serif;
}




main {
    padding: 50px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    transition: top 0.3s;
}

header nav button {
    color: #fff;
    background: none;
    border: none;
    margin: 0 15px;
}

#main-header.hidden {
    top: -100px;
}
#projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

#about-me {
    padding: 20px;
}

.project-preview {
    position: relative;
    width: 100%; /* Adjust as needed */
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    overflow: hidden;
    cursor: pointer;
}

.project-preview img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s;
}

.overlay .text {
    color: #fff;
}


.overlay .buttons {
    display: none;
}

.overlay .buttons button {
    color: #fff;
    background: none;
    border: none;
    margin: 0 5px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
