---
import { animateRainbowWaveText } from '../rainbow-text.js';

const text = 'game designer,';
---

<span class="rainbow-wave">{text}</span>

<script type="module">
  import { animateRainbowWaveText } from '../rainbow-text.js';
  animateRainbowWaveText('.rainbow-wave');
</script>
